<footer class="footer">
    <section class="footer-links">
        <ul class="footer-links__list">
            <li>
                <a>Dat vzw</a>
            </li>
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>Agenda</a>
            </li>
            <li>
                <a>Organisatie</a>
            </li>
            <li>
                <a>Ons team</a>
            </li>
            <li>
                <a>Werken bij dat vzw</a>
            </li>
            <li>
                <a>Sponsers</a>
            </li>
        </ul>
        <ul class="footer-links__list">
            <li>
                <a>Traject van uw kind</a>
            </li>
            <li>
                <a>Aanmelding</a>
            </li>
            <li>
                <a>Screening</a>
            </li>
            <li>
                <a>Intake</a>
            </li>
            <li>
                <a>Onderzoeken</a>
            </li>
            <li>
                <a>Behandeling</a>
            </li>
        </ul>
        <ul class="footer-links__list">
            <li>
                <a>Doelgroepen</a>
            </li>
            <li>
                <a>Leeftijd</a>
            </li>
            <li>
                <a>ADHD</a>
            </li>
            <li>
                <a>ASS</a>
            </li>
            <li>
                <a>Ontwikkeling</a>
            </li>
            <li>
                <a>Beperkingen</a>
            </li>
        </ul>
        <ul class="footer-links__list">
            <li>
                <a>Aanbod</a>
            </li>
            <li>
                <a>Disciplines</a>
            </li>
            <li>
                <a>Groepswerking</a>
            </li>
            <li>
                <a>Ouders</a>
            </li>
        </ul>
                <ul class="footer-links__list">
            <li>
                <a>Verwijzers</a>
            </li>
            <li>
                <a>Andere hulpverlening</a>
            </li>
            <li>
                <a>BO-Scholen</a>
            </li>
        </ul>
    </section>
    <section class="footer-info">
        <nav>
            {% include 'Logo.svg' %}
            <ul>
                <li>
                    <a>Traject van uw kind</a>
                </li>
                <li>
                    <a>Doelgroepen</a>
                </li>
                <li>
                    <a>Aanbod</a>
                </li>
                <li>
                    <a>verwijzers</a>
                </li>
                <li>
                    <a>Agenda</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="footer-cpoyright">
    <div> 
        <hr /> 
        <p><strong> PXL DVO A </strong> takes care of this</p>
        <p>Privacybeleid &amp; Cookiebeleid</p>
        <p>BE 0891 234 567</p>
    </div>
    </section>
</footer>