{# {% extends "_layout.twig" %} #}

<footer class="footer">
    <section class="footer-links">
        <ul class="footer-links__list">
            <li>
                <a>Dat vzw</a>
            </li>
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>Agenda</a>
            </li>
            <li>
                <a>Organisatie</a>
            </li>
            <li>
                <a>Ons team</a>
            </li>
            <li>
                <a>Werken bij dat vzw</a>
            </li>
            <li>
                <a>Sponsers</a>
            </li>
        </ul>
    </section>
    <section class="footer-info"></section>
    <section class="footer-cpoyright"></section>
</footer>