{% extends "_layout.twig" %}
    
{% block content %}
        <h1>{{ entry.title }}</h1>
        <p>{{ entry.intro }}</p>
        <h2>{{ entry.subtitle }}</h2>

         <div class="ons-team">
         <div class="cards__container ">
            {% set cards = entry.card.all() %}
            {% for card in cards %}
                {% include "_snippets/_card.twig" %}
            {% endfor %}
        </div>
        </div>
{% endblock %}
