{% extends "_layout.twig" %}
    
{% block content %}
    {% include "_snippets/_hero.twig" %}

    <div class="ons-team">
        <div class="cards__container">
            {% set cards = craft.entries.section("onsTeam").all() %}
        
            {% for card in cards %}
                {% include "_snippets/_card.twig" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
