{% extends "_layout.twig" %}
    
{% block content %}
    <section class="ons-team">

    {% include "_snippets/_hero.twig" %}

    <div class="cards__container">
        {% set cards = craft.entries.section('verwijzers').all() %}
        {% for card in cards %}
            {% include "_snippets/_card.twig" %}
        {% endfor %}
    </div>
</section>
{% endblock %}