{% extends "_layout.twig" %}

{% block content %}        
    <a href="/traject-van-het-kind">Terug naar het overzicht</a>
    <h1> {{ entry.title }} </h1>    
    <p> {{ entry.intro}} </p>

    <p> | Bij informatiefolders vindt u meer uitleg in de folder "Lorem Ipsum" </p>
    <hr style="width:50%;text-align:left;margin-left:0" />    
    <p>informatiefolders </p>
    <hr style="width:50%;text-align:left;margin-left:0" />
{% endblock %}
