{% extends "_layout.twig" %}

{% block content %}        
    <a class="goBackLink" href="/traject-van-het-kind">Terug naar het overzicht</a>
    {% include "_snippets/_hero.twig" %}

    <p> | Bij informatiefolders vindt u meer uitleg in de folder "Lorem Ipsum" </p>
    <hr style="width:50%;text-align:left;margin-left:0" />    
    <p>informatiefolders </p>
    <hr style="width:50%;text-align:left;margin-left:0" />
{% endblock %}
