{% extends "_layout.twig" %}
    
{% block content %}
    <a href="#"> {{ entry.link }} </a>
    <h1>{{ entry.title }}</h1>
    <p>{{ entry.intro }}</p>
        <div>
            {% set cards = entry.card.all() %}  
            {% for card in cards %}
                {% include "_snippets/_card.twig" %}
            {% endfor %}
        </div>
{% endblock %}
