{% extends "_layout.twig" %}
    
{% block content %}
    <a class="goBackLink" href="/vacatures">Terug naar het overzicht</a>
    {% include "_snippets/_hero.twig" %}

    <div class="">
        {% include "_snippets/_vacatureContentBuilder/_vacatureContent.twig" %}
    </div>
{% endblock %}