{% extends "_layout.twig" %}
    
{% block content %}
<div class="vacatures">
    {% include "_snippets/_hero.twig" %}

    <div>  
        {% set cards = craft.entries.section('vacatures').all() %}
        <div class="cards__container">
            {% for card in cards %}
                {% include "_snippets/_card.twig" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
