{% extends "_layout.twig" %}
    
{% block content %}
    <h1>{{ entry.title }}</h1>
    <p>{{ entry.intro }}</p>


    <div>
        <div class="cards__container ">
            {% set cards = entry.card.all() %}
            {% for card in cards %}
                {% include "_snippets/_card.twig" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
