<div class="card">
    <span class="card__img"></span>     {# cardimage --> handle voor assets in een card #}
    <h4 class="card__title">{{ card.cardtitle }}</h4>
    <button class="card__link btn btn--secondary" href=>{{card.cardbuttontext}}</button>
</div>