<div>
    <div>
        <h3>{{ entry.sponsors }}</h3>
    </div>
    <div>
        {% set homepageSponsors = craft.entries.section('homepageSponsors').all() %}
        {% for homepageSponsor in homepageSponsors %}
            <p>{{ homepageSponsor.title }}</p>
        {% endfor %}
    </div>
</div>