<div class="card">
    <span class="card__img"></span>
    <h4 class="card__title">{{ homepageCard.title }}</h4>
    <button class="card__link btn btn--secondary" href={{ homepageCard.linkto }}>Bekijk in detail</button>
</div>