<div class="card">
    <span class="card__img"></span>
    <h4 class="card__title">{{ vacature.title }}</h4>
    <button class="card__link btn btn--secondary" href={{vacature.linkto}}>Bekijk in detail</button>
</div>