{% extends "_layout.twig" %}
    
{% block content %}

    {% include "_snippets/_hero.twig" %}
        
    <div class="cards__container">
        {# {% set cards = entry.card.all() %}    #}
        {% set cards = craft.entries.section('aanbod').all() %}   
        {% for card in cards %}
            {% include "_snippets/_card.twig" %}
        {% endfor %}
    </div>
{% endblock %}
