main {
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
li,
p,
li,
a {
  font-family: $font-primary;
}

a {
  text-decoration: none;
  color: $color-black;
}

h1 {
  position: relative;
  display: inline;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 20%;
    width: 90%;
    height: 15px;
    background-color: $color-primary;
    z-index: -1;
    border-radius: 2px;
  }
}
