main {
  max-width: 1440px;
  width: 1440px;
  padding: 0 70px;
  margin: 50px auto;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
li,
p,
li,
a {
  font-family: $font-primary;
}

a {
  text-decoration: none;
  color: $color-black;
}

h1 {
  position: relative;
  display: inline;
  font-size: 2rem;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 20%;
    width: 90%;
    height: 15px;
    background-color: $color-primary;
    z-index: -1;
    border-radius: 2px;
  }
}

.goBackLink {
  margin: 20px 0;
  display: block;
  color: $color-secondary;
  text-decoration: underline;
}
