{% extends "_layout.twig" %}

{% block content %}
        <div>
              <h1>Contacteer revalidatiecentrum DAT Aarschot  </h1>
               {{ craft.formie.renderForm('contact') }}
        </div> 
{% endblock content %}