{% extends "_layout.twig" %}

{% block content %}
        <div>
                <a> Terug naar contact </a>
              <h1>Contacteer revalidatiecentrum DAT Tienen  </h1>
               {{ craft.formie.renderForm('contact') }}
        </div> 
{% endblock content %}