{% extends "_layout.twig" %}

{% block content %}
 <div>
        {% include "_snippets/_hero.twig" %}
        <div>
           <table>
                <tbody>
                    <tr>
                       <td>
                            <p> <a href="tel:016803980"> Telefoonummer: 016 80 39 80</a></p>
                       </td> 
                    </tr>
                     <tr>
                       <td>
                            <p> Adres : Houtemstraat 115, 3300 Tienen </p>
                       </td> 
                    </tr>
                    <tr>
                       <td>
                             <p> Openingsuren : van maandag tot vrijdag tijdens de kantooruren</p>
                       </td> 
                    </tr>
                    <tr>
                       <td>
                             <p> Kostprijs: </p>
                       </td> 
                    </tr>
                    <tr>
                        <td>
                            <button class=".btn"> {{entry.button}} </button>
                        </td>
                    </tr>
                </tbody>
           </table>
        </div>
    </div>
{% endblock content %}