{% extends "_layout.twig" %}

{% block content %}
    <a class="goBackLink" href="/contact">Terug naar het overzicht</a>
    {% include "_snippets/_hero.twig" with {
        extraText: "Contacteer"
    } %}
    {{craft.formie.renderForm("contact")}}
{% endblock %}