{% extends "_layout.twig" %}
    
{% block content %}
<section class="homepage">
    {% if entry.melding %}
        <div class="homepage__notification">
            <div class="homepage__notification--wrapper">
                <p>{{entry.melding}}</p>
            </div>
        </div>
    {% endif %}

    <div class="homepage__hero">
        {% include "_snippets/_hero.twig" %}
        <div>
            <a href="{{siteUrl}}">{{svg('@webroot/assets/Visual-graphic_2022-06-10-163019_jelw.svg')| attr({class:'w-full max-w-logo'})}}</a>
        </div>
    </div>

    <div class="homepage__category">
        {% set cards = craft.entries.section("homepageCategories").all() %}
        {% for card in cards %}
            {% include "_snippets/_card.twig" %}
        {% endfor %}
    </div>

    {# <div>
        {% include "_snippets/_homepageSponsors.twig" %}
    </div> #}

    {# {% include '_snippets/_items/_card.twig' with {
        classes: 'js-filter-item',
        id: entry.eventcategorie.ids|join(", ")
    } %} #}
</section>
    
{% endblock %}
