{% extends "_layout.twig" %}
    
{% block content %}
    {% if entry.melding %}
        <div>
            <p>{{entry.melding}}</p>
        </div>
    {% endif %}

    <div>
        {% include "_snippets/_hero.twig" %}
        <div>
            foto
        </div>
    </div>

    <div class="homepage__category">
        {% set cards = entry.card.all() %}
        {% for card in cards %}
            {% include "_snippets/_card.twig" %}
        {% endfor %}
    </div>

    <div>
        {% include "_snippets/_homepageSponsors.twig" %}
    </div>

    {# {% include '_snippets/_items/_card.twig' with {
                classes: 'js-filter-item',
                id: entry.eventcategorie.ids|join(", ")
            } %} #}
    
{% endblock %}
